<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612670180510-booeq796fprloia0shr0o2v87045c1ek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612670180510-booeq796fprloia0shr0o2v87045c1ek</string>
	<key>API_KEY</key>
	<string>AIzaSyCl8m51NcJPmZlyFJpn0hAsZ63FbGXFHyE</string>
	<key>GCM_SENDER_ID</key>
	<string>612670180510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sdsu.homehome</string>
	<key>PROJECT_ID</key>
	<string>evapp-bedb0</string>
	<key>STORAGE_BUCKET</key>
	<string>evapp-bedb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612670180510:ios:bb38ab1ce107e967d6bf8f</string>
</dict>
</plist>